# Final Presentation - Customer satisfication in hotel industry
### Course: `Data Analysis Mathematics, Algorithms and Modeling`
### Team 7 - Members:
- **Tilvan Madalina**  - Student number: 9058215
- **Wesley Jayavanti** - Student number: 9019852
- **Yun-Chen Wang**    - Student number: 9040873

---

## About this presentation:
1. Implement comprehensive data analysis, a mix of Normality, F, T, Chi-Square, or ANOVA tests, and add a discussion of their relevance to the term project.
2. Implement Dimensionality Reduction techniques, do cleanup and finalize preparation of a final data set, adding a discussion of their relevance to your term project.
3. Implement and display the result of implementing time Series and a relevant set of Clustering, Regression, Classification, and Probabilistic Reasoning algorithms, finally adding a discussion of their relevance to your term project.
4. Implement Probabilistic Reasoning adequately to the purposes and targets of your term project.
5. Prepare a 10-15 minute presentation using the notebook as a guide.

## Environment setup

In [1]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

from IPython.display import display

import statsmodels.formula.api as smf

from sklearn.metrics import classification_report, confusion_matrix, mean_squared_error, r2_score, roc_auc_score, roc_curve 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.pipeline import make_pipeline

## Load clean datasets as pandas dataframes

In [2]:
# Load cleaned dataset
path = "../dataset/clean_df.csv"
clean_df = pd.read_csv(path)
print(f"Load dataframe from {path}, Shape: {clean_df.shape}")
display(clean_df.head()) # print the first 5 rows of the dataset

Load dataframe from ../dataset/clean_df.csv, Shape: (1048575, 85)

,Destination_country_id,Visitors_country_id,Overall_rating,Location_rating,Cleanliness_rating,Rooms_rating,Service_rating,Sleepquality_rating,Value_rating,Hotel.stars,...,Trip_type_couple,Trip_type_family,Trip_type_friends,Trip_type_solo,Trip_type_unknown,Reviewer_rank_Reviewer,Reviewer_rank_Senior Contributor,Reviewer_rank_Senior Reviewer,Reviewer_rank_Top Contributor,Reviewer_rank_Unknown
0,59,1,3,2,3,3,3,3,4,5,...,0,0,0,0,0,1,0,0,0,0
1,96,1,4,5,5,3,5,4,5,3,...,0,1,0,0,0,0,0,0,1,0
2,59,1,5,5,5,3,5,5,4,5,...,0,0,0,0,0,0,0,0,0,1
3,199,1,4,3,5,4,5,4,4,5,...,0,0,0,1,0,0,0,1,0,0
4,49,1,3,5,4,3,5,4,5,3,...,0,0,0,1,0,0,1,0,0,0

In [ ]:
# Replace all non-alphanumeric characters in column names with underscores
# clean_df.columns = clean_df.columns.str.replace(r'\W+', '_', regex=True)
clean_df.to_csv("../dataset/clean_df_ver2.csv", index=False)